<%= form_with model: Graph.new do |form| %>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">日付</span>
    </div>
    <%= form.text_field :date, class: 'form-control bg-white', id: "new-calendar" %>
  </div>
  <small>記録が存在する日付は選択できません</small>
  <div class="input-group mt-3">
    <div class="input-group-prepend">
      <span class="input-group-text">タバコ</span>
    </div>
    <%= form.number_field :cigarette, class: 'form-control', id: "new-cigarette", in: 0..100, required: true %>
    <div class="ml-2 my-auto">本</div>
  </div>
  <div class="form-group mt-3">
    <%= form.submit '登録', class: 'btn btn-primary btn-block', id: 'new-button' %>
  </div>
<% end %>
