<h1 class="text-center">タバコ情報詳細</h1>
<section class="card border-dark mt-5">
  <div class="card-header">
    <h4><%= @cigarinfo.brand %></h4>
  </div>
  <div class="card-body">
    <h5><%= @cigarinfo.price %>円</h5>
    <p class="card-text"><%= simple_format(h @cigarinfo.text)%></p>
  </div>
</section>
