/* ...
*= require flatpickr
*= require flatpickr/themes/dark
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// 全体
.base-container {
  @extend .container-fluid;
  max-width: var(--breakpoint-lg);
  padding: 30px 15px;
}

// テーブル
th,
td {
  vertical-align: middle !important;
}

.break-word {
  word-break: break-word;
}

// フラッシュ

div.alert-notice {
  @extend .alert-info;
}

div.alert-alert {
  @extend .alert-danger;
}

// モーダル

button.close {
  overflow: hidden;
  outline: none;
}

div.field_with_errors {
  display: contents;

  input,
  textarea {
    @extend .is-invalid;
  }
}

// コレクション

.icon {
  width: 27px;
  height: 40px;
}

.pic {
  width: 130px;
  height: 200px;
}

.btn-create {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid #9ec34b;
  font-size: 16px;
  color: #9ec34b;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
}

.btn-create:hover {
  background-color: #9ec34b;
  border-color: #cbe585;
  color: #FFF;
}

.btn-edit {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid #9ec34b;
  font-size: 16px;
  color: #9ec34b;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
}

.btn-edit:hover {
  background-color: #9ec34b;
  border-color: #cbe585;
  color: #FFF;
}

.btn-delete {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid red;
  font-size: 16px;
  color: red;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
}

.btn-delete:hover {
  background-color: red;
  border-color: red;
  color: #FFF;
}

.trash {
  color: red;
  display: inline-block;
}

// グラフ
.monthly_record {
  border: solid 2px skyblue;
  border-radius: 5px;
  padding: 0.5em 1em 0.5em 1em;
  position: relative;
}

.monthly_record .monthly_list {
  line-height: 1.5;
  padding: 0.5em 0;
  list-style-type: none !important;
}

// .monthly_record .monthly_list:before {

//   font-family: FontAwesome;
//   content: "\f00c";
//   /*アイコンの種類*/
//   position: absolute;
//   left: 1em;
//   /*左端からのアイコンまでの距離*/
//   color: skyblue;
//   /*アイコン色*/
// }

.fa-chevron-circle-right {
  color: skyblue;
}

.month-link {
  color: skyblue;
}

// プロフィール
.frame {
  border: solid 2px skyblue;
  border-radius: 5px;
  padding: 0.5em 1em 0.5em 1em;
  position: relative;
}

.frame .list {
  line-height: 1.5;
  padding: 0.5em 0;
  list-style-type: none !important;
}

.fa-dollar-sign {
  margin-right: 15px;
  margin-left: 5px;
}

.fa-smoking {
  margin-right: 10px;
}

.fa-smoking-ban {
  margin-right: 14px;
  margin-left: 1px;
}

.fa-coins {
  margin-right: 14px;
  margin-left: 1px;
}

.fa-heart {
  margin-right: 14px;
  margin-left: 1px;
}

// トップページのレイアウト
// メインのレイアウト
.wrapper {
  width: 100%;
  height: 500px;
  background-image: url("undraw_professor_8lrt.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  // min-height: 100vh;
}

.title {
  margin: 0px 0px 40px 0px;
  font-size: 21px;
  font-weight: normal;
  text-align: center;
}

// .wrapper .container {
//   max-width: 1000px;
//   margin: 0px auto;
//   padding: 80px 0px;
// }

/* content */
// .wrapper .content .heading {
//   margin: 0px 0px 40px 0px;
//   color: #ffffff;
//   font-size: 24px;
//   font-weight: normal;
//   text-align: center;
// }

// @media (min-width: 992px) {
//   .wrapper .content .list {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
// }

// .wrapper .content .list-item {
// padding: 30px;
// line-height: 1.8rem;
// color: #ffffff;
// text-align: center;
// }

.description {
  margin-top: auto;
  text-align: center;
  color: #FBF6F0;
  background: #17a2b8;
  padding: 50px 35px;
}

// 説明1のレイアウト
/* container */
.explain {
  width: 100%;
  background-color: #fafafa;
}

.explain .container {
  max-width: 1000px;
  // margin: 20px;
  padding: 80px 0px;
}

/* content */
@media (min-width: 992px) {
  .explain .container .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.explain .content-item {
  width: 100%;
}

@media (min-width: 992px) {
  .explain .content-item {
    width: 50%;
  }
}

.explain .image {
  display: block;
  max-width: 100%;
  margin: 0px auto;
}

.explain .text {
  padding: 50px;
}

.explain .text .heading {
  margin: 0px 0px 40px 0px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

// 説明2のレイアウト
/* container */
.explain2 {
  width: 100%;
  max-height: auto;
  background-color: white;
}

.explain2 .container {
  max-width: 1000px;
  max-height: auto;
  margin: 0px auto;
  padding: 80px 0px;
}

/* content */
@media (min-width: 992px) {
  .explain2 .container .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* PC時のみ順番を入れ替える */
@media (min-width: 992px) {
  .explain2 .content {
    flex-direction: row-reverse;
  }
}

.explain2 .content-item {
  width: 100%;
}

@media (min-width: 992px) {
  .explain2 .content-item {
    width: 50%;
  }
}

.explain2 .image {
  display: block;
  max-width: 100%;
  margin: 0px auto;
}

.explain2 .text {
  padding: 50px;
}

.explain2 .text .heading {
  margin: 0px 0px 40px 0px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

// レビュアーの声
.reviewer {
  width: 100%;
  background-color: #fafafa;
}

.reviewer .container {
  max-width: 1000px;
  margin: 0px auto;
  padding: 80px 0px;
}

/* content */
.reviewer .content .heading {
  margin: 0px 0px 40px 0px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

@media (min-width: 992px) {
  .reviewer .content .list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.reviewer .content .list-item {
  margin: 50px 0px;
  padding: 0px 50px;
  text-align: center;
}

@media (min-width: 992px) {
  .reviewer .content .list-item {
    margin: 0px;
    width: calc(100% / 3);
  }
}

.reviewer .content .list-item .image {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 0px auto 20px auto;
  border-radius: 100%;
}

.reviewer .content .list-item .text {
  line-height: 1.8rem;
  font-size: 0.8rem;
  color: #666666;
}

// フッターの前
.foot {
  background-color: #fafafa;
}