/* ...
*= require flatpickr
*= require flatpickr/themes/dark
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// 全体
.base-container {
  @extend .container-fluid;
  max-width: var(--breakpoint-lg);
  padding: 30px 15px;
}

// テーブル
th,
td {
  vertical-align: middle !important;
}

.break-word {
  word-break: break-word;
}

// フラッシュ

div.alert-notice {
  @extend .alert-info;
}

div.alert-alert {
  @extend .alert-danger;
}

// モーダル

button.close {
  overflow: hidden;
  outline: none;
}

div.field_with_errors {
  display: contents;

  input,
  textarea {
    @extend .is-invalid;
  }
}

.icon {
  width: 27px;
  height: 40px;
}

.pic {
  width: 130px;
  height: 200px;
}
